.index-component {
  color: inherit;
  margin-bottom: 10px;
  .topPlace {
    background: #000;
    img {
      vertical-align: middle;
      max-width: 200px;
    }
  }
  .header-control{
    display: flex;
  }

}
